@import './vendor/bootstrap/bootstrap.less';

ul.entities {
  .list-unstyled();
}

li.entity {
  clear: both;
  position: relative;
  line-height: 1.5;
  margin: .5em;

  &:hover {
    background: @table-bg-hover;
  }

  .count {
    float: left;
    font-size: 3em;
    line-height: 1;
    margin-right: .25em;
  }

  h5 {
    font-size: 1em;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
  }

  .invalid {
    .text-muted();
    line-height: 3em;
  }

  p.terms {
    .text-muted();
    display: inline;
    margin: 0 .5em 0 0;
  }

  ul.terms {
    .list-inline();
    display: inline;
  }

  a.delete {
    line-height: 3em;
    float: right;
  }
}
