div
  p.instructions Copy/paste this into a <code>&lt;script&gt;</code> tag on a website you control. Include <a href="https://jquery.com" target="_parent">jQuery</a> before it. <strong>Anybody who can read the web page can copy your API token and wreak havoc on your documents.</strong>
  code.block.language-javascript= renderCode('javascript-browser')
  a.try-it(href="#") Run this code now (check your development console for output)
