form.new-entity(action='#', method='post', role='form')
  fieldset
    legend Create a new entity

    .form-group
      label(for='new-entity-name') Entity name
      input.form-control#new-entity-name(name='name', placeholder='A person, place or thing')

    .form-group
      label(for='new-entity-terms') Search terms
      input.form-control#new-entity-terms(name='terms', placeholder='Search1, search2, search3')

    button.btn.btn-primary(type='submit') Create entity
