a.delete(href='#') Delete

if !name
  .invalid [Invalid entity]
else
  a.object.count(href: "#")= nDocuments
  h5
    a.object(href: "#")= name
  p.terms Search terms:
  ul.terms
    for term in terms
      li.term= term
