doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Overview Prototype
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      #app
    script(src='js/main.js')
