doctype
html
  head
    title Overview Sample Code
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css")
    style.
      code {
        background: #def;
        padding: .1em .3em;
      }

      code.block {
        display: block;
        font-size: .85em;
        white-space: pre;
        line-height: 1.4;
        background: #def;
        overflow: auto;
        padding: 1em;
      }

      p {
        margin: 0;
        padding: .5em 0;
      }

      .accordion>a {
        font-size: 1.25em;
        font-weight: bold;
        display: block;
        border: 1px solid #ccc;
        padding: .5em;
      }

      .accordion>div {
        border: 1px solid #ccc;
        border-top: none;
        padding: .5em;
      }

      .accordion div.hidden {
        display: none;
      }

      .accordion .hidden {
        border-color: transparent;
      }

    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js")
    script.
      $(function() {
        $('a.try-it').click(function(e) {
          e.preventDefault();
          var script = document.createElement('script');
          script.text = $(this).prev('ol').text();
          document.body.appendChild(script);
        });
      });

      $(function() {
        $('.accordion>a').click(function(e) {
          // Do not e.preventDefault(); -- we want to jump
          $('.accordion>*').addClass('hidden');
          $(this).removeClass('hidden');
          $(this).next().removeClass('hidden');
        });

        $('.accordion>a:first').click();
      });

  body
    header
      h1 Overview Sample Code
    article
      p You're writing your own standalone app? Great!
      p Choose a programming language and get started.

      .accordion
        a#bash(href="#bash") Shell
        include ./languages/bash.jade

        a#javascript-node(href="#javascript-node") JavaScript (Node)
        include ./languages/javascript-node.jade

        a#javascript-browser(href="#javascript-browser") JavaScript (in-browser)
        include ./languages/javascript-browser.jade

        a#coffee-browser(href="#coffee-browser") CoffeeScript (in-browser)
        include ./languages/coffee-browser.jade

        a#python3(href="#python3") Python 3
        include ./languages/python3.jade

        a#java(href="#java") Java
        include ./languages/java.jade

        a#php(href="#php") PHP
        include ./languages/php.jade
